<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link>
<title>Developed by Saleban & Warren</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/main.css" />

<script type="text/javascript" th:src="@{js/jquery.js}"></script>
<script type="text/javascript" th:src="@{js/jquery-2.2.2.js}"></script>
<script type="text/javascript" th:src="@{js/main.js}"></script>

<script type="text/javascript" th:src="@{js/bootstrap.min.js}" ></script>

</head>
<body>
<div class="post">
    <div class="contact">
        <div class="title">
            <h2>Extractive Summarization</h2>
        </div>
        <div class="col-md-12 form-group showhide">
            <p style="background-color: rgb(228, 248, 215)" id="error">There is some errors</p>
        </div>
    </div>

</div>


</body>
</html>